li{
    border: 0px;
    padding: 10px;
    margin: auto;
}
.center{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: sauto;
        border-radius: 10%;
}
h1, a{
    text-align: center;
}
#home{
    text-align: center;
}